body{
    margin: 0;
    font-family: 'Prompt', sans-serif;
}
div{

}
.one{
    background-image: url(images/donation5.jpg);
    height: 1200px;
    font-weight: 700;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.Donate-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
}