* {
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Prompt', sans-serif;
}

div {}

#fonts {
    font-weight: 200;
}

.header {
    /* filter: blur(1px); */
    background-image: url(images/flood.webp);
    background-position: center;
    background-size: cover;
    height: 600px;
    font-weight: 700;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    width: 800px;
    height: 300px;

}

.donate-button {

    /* background-image: linear-gradient(orange, tomato); */
    background-color: red;
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 16px 0;
}

.donate-button a {
    color: white;
    text-decoration: none;
}


.two {
    margin-bottom: 150px;
    text-align: center;
}

.two_amount {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.two_individual {
    width: 125px;
    height: 110px;
    background-color: rgb(206, 194, 194);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.two_individual:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.11);
    border: 2px solid red;
}



.donate-input {
    border: 0;
    border-bottom: 1px solid gray;
    width: 720px;
    text-align: center;
    padding: 8px;
}

.three {
    text-align: center;
    margin-bottom: 150px;
}

.four {
    display: flex;
    /* margin-bottom: 150px; */
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    gap: 20px;

}

.four_design {
    text-align: left;
    border-radius: 4px;
}

#food {
    background-color: rgba(135, 207, 235, 0.274);

    padding: 30px 16px;
}

#shelter {
    background-color: rgba(177, 112, 128, 0.274);

    padding: 30px 16px;
}

#education {
    background-color: rgba(43, 189, 79, 0.274);

    padding: 30px 16px;
}

.how-to-contribute {
    width: 75%;
    margin: 0 auto;
}

.five {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.five_design {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.five_design img,
.six_design img {
    width: 90%;
    border-radius: 10px;
}

.five_button {
    text-decoration: none;
    background-image: linear-gradient(tomato, purple);
    padding: 5px 10px;
}

.six {
    margin-top: 70px;
    display: flex;
    margin-bottom: 150px;
}

.six_design {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}


.seven {
    text-align: center;
    margin-bottom: 200px;
}


.footer {
    padding-top: 25px;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
}